.recursion-main {
  /* max-width: 1200px; */
  margin: 10px;
  /*  */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.root-comment-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
}

.input {
  padding: 5px 15px;
  border-radius: 5px;
}

button {
  padding: 8px 10px;
  background-color: #04c9fa;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-family: inherit;
  color: rgb(32, 32, 32);
}

button:hover {
  background-color: #04c9fad0;
}

/*  */

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  margin-left: 15px;
  margin-top: 10px;
  border-left: solid;
  padding: 8px;
  padding-left: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.comment-details {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.comment-owner {
  text-transform: uppercase;
  /*  */
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.comment-owner-letter {
  background-color: #420a81;
  width: 25px;
  height: 25px;
  color: whitesmoke;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.comment-text {
  margin-left: 20px;
}

.comment-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 25px;
  margin-top: 5px;
}

.comment-reply-form {
  margin-left: 25px;
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.comment-reply-form-btn {
  padding: 6px 8px;
}

/* #e91e63 */

.reply-btn {
  background-color: #e91e63;
  color: antiquewhite;
}

.reply-btn:hover {
  background-color: #ff3478;
}

.show-replies-btn {
  background-color: #ffc1078c;
}

.show-replies-btn:hover {
  background-color: #ffc107c2;
}
